<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Your adventure starts here!</h2>
                <hr class="light">
                <p class="text-faded">Endless Adventure has everything you need to get your adrenaline this year! All of the information you need to get out there is right here. Explore the site, then give us a call!</p>
                <a href="#portfolio" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
